[2019-08-05 11:37] Keanyuan opened #2 "文件太大"
build 也上传  .idea也上传 .vscode 醉了  这浪费多少资源

[2019-08-05 12:43] o1298098 commented on #2
已经好了，谢谢提醒

[2019-08-06 13:07] #2 closed

[2019-09-22 16:33] serdar-sahin opened #3 "android version"
Hi, thank you for your good job.
Which android version of the demo application is compatible?
does not work on android 7.1.1

[2019-09-23 01:48] o1298098 commented on #3
It run fine on android 7.1.1 ,
![WX20190923-094738](https://user-images.githubusercontent.com/22358665/65398020-35203d80-dde7-11e9-8678-23227588c205.png)

[2019-09-24 19:05] serdar-sahin commented on #3
yes it works when I debug via vscode.

[2019-09-24 19:26] serdar-sahin opened #4 "DioError Http status error [401]"
mostly gives this error:
I/flutter (24188): MainPage Lifecycle.didUpdateWidget
I/flutter (24188): DioError [DioErrorType.RESPONSE]: Http status error [401]

![resim](https://user-images.githubusercontent.com/23378696/65543681-5170c700-df1a-11e9-904b-907b24f846ee.png)

[2019-09-25 01:53] o1298098 commented on #4
Did you change the apikey or something? status code 401 is authentication failed
![image](https://user-images.githubusercontent.com/22358665/65562790-359d0d80-df7a-11e9-85db-d7ed41e2b0fe.png)

[2019-09-30 01:13] #3 closed

[2019-10-04 08:07] #4 closed

[2019-10-13 23:17] andersonvieiragomeslopes opened #5 "Xamarin forms?"
you will do in xamarin forms this same application?

[2019-10-14 01:00] o1298098 commented on #5
I wil plan on it

[2019-10-14 07:23] liuchouchou0728 opened #6 "Error: ADB exited with exit code 1 Performing Streamed Install adb: failed to install /www/github/Flutter-Movie/build/app/outputs/apk/app.apk: Failure [INSTALL_FAILED_INSUFFICIENT_STORAGE]"

[2019-10-15 15:18] Seguro19 opened #7 "So cool"
Great App! but i have a suggestion, can you make a backend for upload our own stream links for the movies? like this one! https://codecanyon.net/item/streamapp-streaming-movies-tv-series-and-live-tv-flutter-full-app-with-admin-panel/24483188

[2019-10-16 01:11] o1298098 commented on #7
Thanks, this is a good suggestion, I am going to add this feature.

[2019-10-16 12:24] Seguro19 commented on #7
I can give you free hosting if you want to make all the tests, also, have a few more suggestions:
1: Custom User Area, because lot of people havent got a themoviedb account...
2: Favorites, Watchlist and custom lists for users in web storage without using themoviedb
3:  List all Movies and series on webpanel to include custom links (Embed, .mp4...)
4: Option to set languages of the descriptions (E

[2019-10-17 00:43] o1298098 commented on #7
Thanks for all your suggestions, I will add these features in future updates.

[2019-10-19 07:06] anticafe opened #8 "UI bug in buildView() method of MovieDetailPage"
Here is the exception log:
[code]

Image:
![Screenshot_1571468617](https://user-images.githubusercontent.com/340836/67139355-94079400-f279-11e9-914f-28a9ce67838e.png)

[2019-10-19 10:23] o1298098 commented on #8
Thank you for your reminder. Since I use showModalBottomSheet as a popup menu, this problem can be caused because the maximum height of the ModalBottomSheet can only be half of the screen height. I will fix this in the next update.

[2019-10-19 11:20] o1298098 commented on #8
this bug has been fixed,thanks

[2019-10-25 07:12] #5 closed

[2019-10-25 07:12] #8 closed

[2019-10-27 09:18] o1298098 commented on #7
@Seguro19 , I add the feature like this
 ![image](https://user-images.githubusercontent.com/22358665/67632354-1da00d00-f8dd-11e9-9faa-f2e10846c1f4.png)

[2019-10-27 14:12] Seguro19 commented on #7
Wow, looks amazing! just one question, where you store that information for each movie/tvshow ?
A web-based list to add links from computer would be so nice too, if you need hosting or something i can give you for free for tests.

----
NOTE: If all users can upload their stream links maybe will cause spam/massive uploads from users...
An idea is to make a custom user role, for example, simple user

[2019-10-27 14:25] o1298098 commented on #7
I use Firestore to store all the data, I will create a website for users to upload or manage their own stream links.

[2019-10-27 14:26] Seguro19 commented on #7
Perfect, your email is: o1298098@live.com ? i want to talk with you.

[2019-10-27 14:26] o1298098 commented on #7
yes

[2019-10-28 15:12] Seguro19 commented on #7
Im trying your new update, everythings works perfect about stream link support :) Well done.

Have another suggestions:

1: Option to add custom links without .mp4 file or another video format (Like this example) https://onlystream.tv/e/wrbp8e2dh60v (Like a webview without popups).
2: Stream links for TV Shows episodes
3: Stream link upload form fields (Quality, Language, URL, (Youtube embed, Othe

[2019-10-29 00:51] o1298098 commented on #7
Thanks again for your suggestion, I will add these features step by step. Currently I want to build up a management website first.

[2019-11-01 03:34] o1298098 commented on #7
@Seguro19 ,I created a website like this. Do you have any suggestions?
![Kapture 2019-11-01 at 11 30 23](https://user-images.githubusercontent.com/22358665/68000470-358bde00-fc9b-11e9-835e-b4466aa2dc15.gif)

[2019-11-01 04:11] Seguro19 commented on #7
Looks amazing, for suggestions... haha

First of all one question, did you import movies with all the info to database? or just themoviedb api, and only create a database for links connected to each movie id.

Suggestions:
1: Option to add links for tv shows in field like this:
1x01 https://urltoepisode.com/1
1x02 https://urltoepisode.com/2
1x03 https://urltoepisode.com/3
So the system recognise 1

[2019-11-01 04:54] o1298098 commented on #7
I just get movie data from themoviedb api. But I still use FireStore to store all the data.like this:
![image](https://user-images.githubusercontent.com/22358665/68003036-a84e8680-fca6-11e9-9694-5fafdd1f19ec.png)
 I will add the support for tv shows base on your suggestions , Thanks

[2019-11-02 06:39] o1298098 commented on #7
Finally, I decided to use mysql instead of firestore. I think firestore not a good choice for this project.

[2019-11-03 20:55] Seguro19 commented on #7
Perfect!, if you want to check this 3 apps projects to check the features if you want to implement something...
https://bit.ly/2PJIqlA
https://bit.ly/34prXa1
https://bit.ly/2WNWmwp

[2019-11-09 15:53] Seguro19 commented on #7
Hey dude!, How are you going? been days since last update and only want to know how its going :)

[2019-11-09 16:32] o1298098 commented on #7
This week, I just built API for the database . I will update the TV show stream link and webview support later.

[2019-11-12 08:48] o1298098 commented on #7
@Seguro19 ,is that right?
![Kapture 2019-11-12 at 16 43 40](https://user-images.githubusercontent.com/22358665/68656068-154a0200-056c-11ea-910f-6fde68ad271e.gif)

[2019-11-12 09:06] Seguro19 commented on #7
Looks really amazing! That's the best way to add links to tvshows...

[2019-11-14 14:50] Seguro19 commented on #7
Gonna try your recent update! thanks for all!, just a question.
Can you share the web platform? to connect it with my project. because i dont understand much the API functions :(

[2019-11-14 15:43] o1298098 commented on #7
Yes, but the web platform is not finished yet, I will send a link to your email when I finish it.

[2019-11-18 19:55] twocolors opened #9 "in release app some elements not show"
in release app some elements not show, Adapt.screenW() - return 0

[2019-11-19 01:02] o1298098 commented on #9
![image](https://user-images.githubusercontent.com/22358665/69106656-056d7900-0aaa-11ea-84b1-e5d766bb3e2e.png)
this issue is caused by `MediaQueryData.fromWindow(window).size.width`. I will fix it later.
the same issue here:https://github.com/flutter/flutter/issues/25827

[2019-11-20 08:50] THandsonwu opened #10 "GoogleService-Info.plist not found"
The file “GoogleService-Info.plist” couldn’t be opened because there is no such file. Hope you can upload this plist!Thank you very much!

[2019-11-20 08:56] o1298098 commented on #10
I forgot to upload this file , it will be upload next update , thx.

[2019-11-20 09:05] THandsonwu commented on #10
ok,thanks a lot !I want to learn how to use fish_redux for full appcation!

[2019-11-20 18:25] equipmentseek opened #11 "Undefined name 'signInOption'. Try correcting the name to one that is defined, or defining the name.dart(undefined_identifier)"
lib/views/login_page/effect.dart:105:36: Error: Getter not found: 'signInOption'.
        GoogleSignIn(signInOption: signInOption.standard);
                                   ^^^^^^^^^^^^
Compiler failed on /Users/liuchao/Documents/GitHub/Flutter-Movie/lib/main.dart

FAILURE: Build failed with an exception.

void _onGoogleSignIn(Action action, Context<LoginPageState> ctx) async {
  ctx.state.subm

[2019-11-21 00:57] o1298098 commented on #11
` GoogleSignIn _googleSignIn = GoogleSignIn(signInOption: SignInOption.standard);`
remove signInOption: SignInOption.standard, it will be fine.

[2019-11-21 08:06] o1298098 commented on #10
GoogleService-Info.plist is now uploaded

[2019-11-21 08:08] o1298098 commented on #11
This issue has been fixed

[2019-11-22 15:19] equipmentseek commented on #11
good thanks

[2019-11-22 15:19] #11 closed

[2019-11-26 18:48] Seguro19 commented on #7
Another suggestions, All of the embed streams sites got a lot of popups, gonna be awesome if you add some javascript disallow popups to the webview :)

[2019-11-27 03:38] o1298098 commented on #7
OK, I will add javascript to limit popup

[2019-11-28 08:15] #10 closed

[2019-11-28 08:15] #6 closed

[2019-12-02 08:59] o1298098 commented on #9
this issue should be fixed now

[2019-12-20 09:08] android-bash opened #12 "Web support?"
Somehow i am unable to run the project on web. I could run it on mobile devices. But when i run it on i get a blank page.

[2019-12-21 01:37] o1298098 commented on #12
Not, because flutter does not support "dart: io" right now.
https://github.com/flutter/flutter/issues/47416

[2019-12-25 05:50] iamthenewking commented on #7
Nice app...

[2019-12-29 22:52] tingkai-zhang opened #13 "Named parameter is not defined"
Hi thanks for making this app which is a great resource for flutter learners.
I downloaded this repo and it gives me the following warnings and errors:
![image](https://user-images.githubusercontent.com/20318562/71563768-deb84000-2a62-11ea-92bb-a5b38437a5c1.png)

The flutter sdk I use is v1.12.13

Can someone give me a hint on how to solve these issues?
Thank you!

[2019-12-30 00:40] o1298098 commented on #13
[code]
you should replace 'sliver' with 'child',
[code]
remove the 'trackColor'.

or update flutter sdk to 1.13.5

[2019-12-30 03:50] tingkai-zhang commented on #13
thanks for the help.

I was trying to use the sort function in Discover tab. Everything is fine but `Release Date Assending`

![image](https://user-images.githubusercontent.com/20318562/71567388-a594c580-2a8c-11ea-90c1-d240f8b14ca7.png)

The console outputs:

════════ (9) Exception caught by widgets library ═══════════════════════════════════════════════════
The getter 'month' was called on null.

[2019-12-30 04:32] o1298098 commented on #13
[code]
Modify the code at 'lib/views/discover_page/view.dart' line 26
[code]

[2019-12-30 05:15] tingkai-zhang commented on #13
It works perfect! Thanks.

[2019-12-30 05:15] #13 closed

[2020-01-17 02:35] mrmyn opened #14 "three bugs"
1.The named parameter 'sliver' isn't defined. [movie] lib/views/moviedetail_ page/view.dart:680
2.The named parameter 'trackColor' isn't defined. [movie] lib/views/setting_ page/view.dart:184
3.The named parameter 'sliver' isn't defined. [movie] lib/views/tvdetail_ page/view.dart:274
How to fix？

[2020-01-17 02:37] o1298098 commented on #14
update the flutter sdk to 1.13.5
see here [#13](https://github.com/o1298098/Flutter-Movie/issues/13)

[2020-01-17 08:02] mrmyn commented on #14
thanks

[2020-01-17 08:11] #14 closed

[2020-01-17 08:11] mrmyn commented on #14
solved

[2020-01-28 16:36] Eric-isdev opened #15 "payement"
Can you add a payment method to acces some videos in the app??

[2020-01-29 11:03] o1298098 commented on #15
I will add this feature in future updates

[2020-01-29 11:57] Eric-isdev commented on #15
I see ... your code is really complex for a beginner like me. I think to do
a simple trick and store my videos on firebase ..

Le mer. 29 janv. 2020 à 12:03, o1298098 <notifications@github.com> a écrit :

[2020-03-31 03:00] jameswebb07 commented on #7
Great your work!

[2020-03-31 05:10] XinleZhou2018 opened #16 "No data show in the app"
It seems api not work?

[2020-03-31 07:03] o1298098 commented on #16
If you are in China, you need vpn to access.

[2020-03-31 07:30] XinleZhou2018 commented on #16
@o1298098 it is a sad story

[2020-03-31 08:21] jameswebb07 commented on #7
Great work! can you send latest release apk ?

[2020-03-31 08:28] jameswebb07 opened #17 "Back End Admin panel"
Back end for add movies and TV shows ?

[2020-04-01 08:54] o1298098 commented on #17
Already has a simple backend,
[](http://www.fluttermovie.top)

[2020-04-01 09:14] amar-belkhede opened #18 "_theme.textTheme.bodyText1.color, fontSize: Adapt.px(35)); "bodyText1" is not defined"
it is not defined in all view.dart

[2020-04-01 11:06] o1298098 commented on #18
`_theme.textTheme.body1.color`
replace 'bodyText1' to 'body1' or upgrade flutter sdk to 1.15.20 or higher

[2020-04-01 12:37] thiani commented on #18
run ...flutter version v1.15.20 on the terminal to get the version used here

[2020-04-01 17:53] amar-belkhede commented on #18
Thanks already did the changes...

On Wed, 1 Apr 2020, 6:07 pm thiani, <notifications@github.com> wrote:

[2020-04-01 18:43] jameswebb07 commented on #17
login ?

[2020-04-02 04:56] amar-belkhede opened #19 "how do I set firebaseanalysis and google signin"
do I have to add google-services.json into my android

[2020-04-02 06:35] o1298098 commented on #17
After you register an account in the app, I can set your account as an administrator.

[2020-04-02 06:37] o1298098 commented on #19
Now the app uses my google-services.json, of course you can replace it with your own

[2020-04-02 10:04] jameswebb07 commented on #17
register done on app , Email : mymexb06@gmail.com

[2020-04-02 11:45] o1298098 commented on #17
ok, you can login now

[2020-04-02 16:52] jameswebb07 commented on #17
great work, can i give you some suggestions ?

[2020-04-03 00:52] o1298098 commented on #17
sure

[2020-04-04 05:46] jameswebb07 commented on #17
**1. To add links for Movies (bulk) in field like this**
TMDB_ID MOVIE_URL
181812 https://url.com/movies.mkv
181813 https://url.com/movies.mkv
181814 https://url.com/movies.mkv

**2. To add links for multiple TV shows at once in field like this**
TMDB_ID
1x01 https://url.com/1
1x02 https://url.com/2
1x03 https://url.com/3
TMDB_ID
1x01 https://url.com/1
1x02 https://url.com/2
1x03 https://url.com/3

[2020-04-04 12:36] o1298098 commented on #17
Thank you for your suggestions, I will add the function of create links in bulk.
The structure of the database:
![database](https://user-images.githubusercontent.com/22358665/78450820-db60d000-76b3-11ea-906f-d427d01e6ed7.png)

[2020-04-04 17:21] jameswebb07 commented on #17
Thank you for database structure.

[2020-04-04 17:22] jameswebb07 commented on #17
https://www.fluttermovie.top/ down ?

[2020-04-05 03:29] o1298098 commented on #17
The webpage is running, it may be due to the network

[2020-04-05 07:28] jameswebb07 commented on #17
now it's working :)

[2020-04-08 13:57] jameswebb07 commented on #17
can you give me Back End Admin panel source code?

[2020-04-13 17:34] fab17an opened #20 "Parameter is not defined"
Good friend, great project. I have some problems with these variables. They come out that are not defined. I hope your help and thanks for this great project.

![image](https://user-images.githubusercontent.com/41801914/79143526-ffdb3d00-7d82-11ea-9aa8-7307f5310496.png)

[2020-04-14 01:47] o1298098 commented on #20
I think you should upgrade the flutter sdk

[2020-04-14 03:05] fab17an commented on #20
I have the latest version of flutter sdk in windows v1.12.13 + hotfix.9

[2020-04-14 11:15] o1298098 commented on #20
This project uses the flutter SDK of the dev channel. If you don’t want to switch sdk channels, just replace the parameters

[2020-04-15 21:34] henry-hz opened #21 "Redraw Performance"
Amazing project !!!
I was wandering if the pattern of using functions to granulate the view code (and solve the brackets hell) is the best alternative, once you keep redrawing a lot of unseeded components. Please, review the approach in [this](https://iiro.dev/2018/12/11/splitting-widgets-to-methods-performance-antipattern/) article and let me know if it's relevant.

[2020-04-16 00:30] o1298098 commented on #21
Indeed, I used a lot of _buildWidget functions before, because for convenience, I changed some of them back to StatelessWidget in the last few updates.

[2020-04-16 02:35] o1298098 commented on #21
I plan to replace all _buildWidget functions in the next update

[2020-04-19 11:57] henry-hz commented on #21
@o1298098 thanks for the feedback

[2020-04-19 11:57] #21 closed

[2020-04-25 02:31] fab17an opened #22 "change language?"
good, a query, I see that you have to put multi-languages, in that case how can you do to change it or assign another language so that it comes out by default, other than in English?

[2020-04-25 03:04] o1298098 commented on #22
[vscode-flutter-i18n-json](https://github.com/esskar/vscode-flutter-i18n-json)
I use this as a localization, you can view this document，

[code]

TBMD API requests data based on your system language

[2020-04-29 08:09] jameswebb07 commented on #17
any update on this ?

[2020-04-29 08:14] o1298098 commented on #17
Not yet, I am still developing payment functions. After it completed, I will add these functions in the admin panel

[2020-05-03 09:19] thiani commented on #17
Hey,kindly register me for the backend access. thianisimon@gmail.com

[2020-05-03 09:38] o1298098 commented on #17
@thiani , I can't find this account, you need to register this account before setting up an administrator

[2020-05-03 15:39] thawhakyi commented on #17
Already registered on app. Please.
Email : thawhakyi.t@gmail.com

[2020-05-03 23:04] o1298098 commented on #17
@thiani, Your account has been set as an administrator

[2020-05-04 16:54] thawhakyi commented on #17
Pls approve me. @o1298098

[2020-05-05 01:39] o1298098 commented on #17
@thawhakyi, already set

[2020-05-05 04:22] thawhakyi commented on #17
thank you bro

[2020-05-07 11:40] henry-hz commented on #20
Hi @o1298098 , just to learn, why you choosed the dev channel ? I am having difficulties with the XCode 11.4.1, but seems that the beta channel already fixed. The beta is more tested than the dev.

[2020-05-07 12:03] o1298098 commented on #20
Just because I want to try flutter's latest features earlier🙂, dev channel does have more bugs😂

[2020-05-12 22:25] thawhakyi commented on #7
Bro. Can you share me back end admin panel source code? I really love your project ui and features and want to use in my school project. Thank you.

mail - thawhakyi.t@gmail.com

[2020-05-18 21:20] vnl opened #23 "Account Tab - Freezes if you have not logged in previously."
Hi,
Absolutely fantastic app it is shaping out to be. I am learning flutter form the past few weeks and wanted something more robust and stumbled upon this repo. Thanks for sharing this.

For the possible defect:

I have not signed in to the tmdb account, so the Account tab should be just empty and any widget I click should navigate me to the tmdb login page I suppose.
However, the screen freezes

[2020-05-19 01:40] o1298098 commented on #23
![image](https://user-images.githubusercontent.com/22358665/82275113-7e478200-99b4-11ea-87f9-3bafd12e3b30.png)
This problem is due to the exception thrown after I set the Image URL to empty, I will fix this problem in the next update

[2020-05-19 01:40] o1298098 commented on #23
![image](https://user-images.githubusercontent.com/22358665/82275113-7e478200-99b4-11ea-87f9-3bafd12e3b30.png)
This problem is due to the exception thrown after I set the Image URL to empty, I will fix this problem in the next update

[2020-05-19 11:59] vnl commented on #23
Thanks for the quick reply @o1298098
Might I add, so many concepts I have left to learn to understand your project :) but has been very helpful so far.

[2020-05-20 14:19] vnl commented on #23
Fixed

[2020-05-20 14:19] #23 closed

[2020-05-21 14:34] bazinga0601 opened #24 "Will the backend be open source in the future"

[2020-05-22 01:02] o1298098 commented on #24
will be

[2020-06-09 17:02] jameswebb07 commented on #17
Still waiting bro :)

[2020-06-10 01:03] o1298098 commented on #17
I am working on it 😄

[2020-06-10 06:30] jameswebb07 commented on #17
cool thanks

[2020-06-11 04:29] o1298098 commented on #17
@jameswebb07, The function of adding movie streamlinks in batches has been completed
![Kapture 2020-06-11 at 12 24 17](https://user-images.githubusercontent.com/22358665/84344894-8921bb00-abde-11ea-9545-d98d93964aa7.gif)

[2020-06-13 11:50] jameswebb07 commented on #17
cool great

[2020-06-18 12:52] henry-hz opened #25 "Network exceptions"
Dear @o1298098 ,
let me suggest a complete and robust Network communication module used under Fish in this repo: https://github.com/bozaigao/fish-redux-demo .

I think that it could even inspire us to create a lib for network using the patterns found there.
cheers
hh

[2020-06-18 13:11] o1298098 commented on #25
Thank you for your suggestion, I will improve network exceptions, all API requests will return a base class, including status code， data and exception information

[2020-06-19 07:34] mohammed-akl opened #26 "The named parameter 'silver' isn't defined."
The property _silver_ of widget **SliverOverlapAbsorber** is showing as not defined.

[2020-06-19 10:39] o1298098 commented on #26
#13 the same issue

[2020-06-19 14:31] #26 closed

[2020-06-19 15:06] mohammed-akl commented on #26
thankyou

[2020-06-19 22:55] GITCOM-CMD opened #27 "FCM"
Hi I need your help about firebase push notifications i'm unable to push notifictions, i replaced the google-services.json file but there is no luck plz help. why i'm not recieving notifications. if there is a special way then plz explain how...

[2020-06-20 01:25] o1298098 commented on #27
When the app is open, the notification will not appear, you can see if the notification page has a record. I will modify the code logic to display the notification when the app is open
![image](https://user-images.githubusercontent.com/22358665/85188203-7b072500-b2d7-11ea-88fd-48eae6ade2b8.png)

[2020-06-20 22:30] GITCOM-CMD commented on #27
Thanks, it worked for backgrond

[2020-06-20 22:31] #27 closed

[2020-06-20 22:37] GITCOM-CMD opened #28 "Add to list "Sbmit""
Hi, now when i click on submit for add to my list then it dosn't work.
After clicking submit When i check back my list its empty there is no movie in it.
Is it due to firebase? plz tell me what am i doing wrong.. Thanks

[2020-06-21 14:05] GITCOM-CMD commented on #28
![studio64_a4suSehU4y](https://user-images.githubusercontent.com/66434174/85226637-64230a00-b38d-11ea-8d78-f2134a8cadb9.png)

@o1298098 hezhi Returns 404

[2020-06-21 14:06] GITCOM-CMD commented on #28
https://www.fluttermovie.top/api/UserListDetails/58/movie/706503

[2020-06-21 14:49] o1298098 commented on #28
[code]
Don't use getUserListItemDetail, it can only get movies or TV shows that already exist in the database. You only need to use .getUserListDetailItems to get all the data in your list

![image](https://user-images.githubusercontent.com/22358665/85227278-10f19b80-b40f-11ea-9ba4-4c0718198606.png)
![image](https://user-images.githubusercontent.com/22358665/85227652-65961600-b411-11ea-83d2-9ae728

[2020-06-21 15:56] GITCOM-CMD commented on #28
![SOvBuTDJx6](https://user-images.githubusercontent.com/66434174/85229131-f088f900-b39c-11ea-83ca-fc3a44224b07.png)

dose not saving on lists when i submit....:(

[2020-06-21 16:06] o1298098 commented on #28
[code]
Since I changed the return type of the api, now the api will return ResponseModel, you need to modify the condition to if(!item.success)

[2020-06-21 17:03] GITCOM-CMD commented on #28
Thanks Hezhi it's working now :)

[2020-06-21 17:04] #28 closed

[2020-07-01 06:10] jakcal opened #29 "Demo app version source code?and backend source code?"
Hey there I just want to ask if you still have the app version from the demo that is in the read me file.If you do can you please send it to me.And can you make me an Admin in the control panel?
My email : yasssinechandid@gmail.com

[2020-07-02 01:13] o1298098 commented on #29
I don't have the previous version. The demo version is similar to the current version.
I have set you up as an administrator in the admin panel

[2020-07-02 22:42] GITCOM-CMD opened #30 "Redesign UI"
Hi how are you, are you working on New UI?

[2020-07-03 07:24] jakcal commented on #29
Thank you.
I want to suggest something to you.
Since the app has that streaming feature but you have to manually add links why don't you use [this API](https://moviessources.cf/) that I'm using in my own app it's really good it sorts links based on quality and server speed.
API URL:[https://moviessources.cf/]( https://moviessources.cf/)

[2020-07-03 08:45] o1298098 commented on #29
Thanks for your suggestions, this api is amazing.

[2020-07-03 08:53] o1298098 commented on #29
![image](https://user-images.githubusercontent.com/22358665/86451540-a2390a00-bd4d-11ea-903c-e417dddb7d14.png)
I don't know if it possible hide this button

[2020-07-03 10:38] o1298098 commented on #30
yes, I am working on it

[2020-07-03 11:55] jakcal commented on #29
I don't know my self.But l can talk to the admin to try to add like a query param to hide it.
Looks good btw.
Ps : they have a json api wich I m using it returns streaming links as json.

[2020-07-03 11:56] o1298098 commented on #29
I use JavaScript to hide this button

[2020-07-03 11:57] jakcal commented on #29
Ok.
When will you push this update?

[2020-07-03 12:03] o1298098 commented on #29
It’s not finished yet, it should be updated tomorrow。

[2020-07-03 21:20] GITCOM-CMD commented on #30
Well done 🥇

[2020-07-03 21:21] GITCOM-CMD commented on #30
when is it going to be done ?

[2020-07-04 07:51] jakcal commented on #29
Seems nice.
But I've noticed the following :
1-The Webview does not support reloading when the API needs to reload to verify the user.
2-The Webview does not support scrolling.
3-The Webview's state changes when the user scrolls down in the episodes list.
Ps:If you want I can create for you an Android Webview that will support fullscreen with landscape mode but it will be available for android onl

[2020-07-04 12:02] o1298098 commented on #29
![Kapture 2020-07-04 at 20 00 08](https://user-images.githubusercontent.com/22358665/86512051-139db900-be31-11ea-9abe-859136326f46.gif)
2,3 fixed.
I am applying for apikey to get the address list through this api, there should be fix problem 1

[2020-07-04 20:58] #30 closed

[2020-07-07 18:38] jakcal commented on #29
Nice.
Bro, I just want to ask some questions:
1-I see that you save the favorites to TMDB API right? if so why do you fetch them from your API?
2-Why don't you just use the TMDB API to get the favorites list and use firebase for the watchlist without the need of a backend.

Hope you can answer me ASAP.

[2020-07-08 01:07] o1298098 commented on #29
Because not everyone has a TMDb account to add favorites and watchlists using TMDb api, so favorites and watchlists are stored in my database

[2020-07-09 08:47] henry-hz opened #31 "OnLoading Boilerplate"
Hi @o1298098 ,
I thought that maybe, instead of using the i.e.
[code]
and creating all the boilerplate (reducer, action, dispatch),
why not refactor and use the FutureBuilder instead, checking if the request is done (not null) ?
I tried to write a POC with this simpler approach, but the view was not automatically rendered...
so I would like to ask you if refactoring with FutueBuilder is possible,

[2020-07-09 12:33] o1298098 commented on #31
![Kapture 2020-07-09 at 20 19 28](https://user-images.githubusercontent.com/22358665/87039957-88eafe80-c222-11ea-9ff8-c9244cbcc255.gif)
you can use FutureBuilder with fish redux, I give you a small example：

state.dart
[code]

action.dart

[code]

effect.dart

[code]

reducer.dart
[code]

view.dart

[code]

[2020-07-09 14:10] henry-hz commented on #31
@o1298098  many thanks !

[2020-07-09 18:38] GITCOM-CMD opened #32 "Admin"
Hi! can you make me an Admin in the control panel?
My email : replyme724@gmail.com
Thanks!

[2020-07-10 01:10] o1298098 commented on #32
@GITCOM-CMD, already set

[2020-07-11 08:45] omeedterainsights commented on #32
Hi o1298098! May I also please have Admin access? email: sethsmagic@gmail.com

[2020-07-11 10:06] #32 closed

[2020-07-11 16:53] GITCOM-CMD opened #33 "Stream"
Hi, have you completed the streaming functionality?
Q: How is it different from previous functionality ( that we had to manually add stream links )?
Q:Now we  don't have to add streaming links manually? will it automatically pick the streaming links from api?

[2020-07-11 16:58] GITCOM-CMD commented on #33
And if streaming functionality is final then, How & where from we can play movies ?

[2020-07-11 20:04] omeedterainsights opened #34 "Admin access and database usage"
Hi o1298098! May I also please have Admin access? email: sethsmagic@gmail.com

Also, my understanding is you are using MySql instead of Firestore. Any particular reason why you switched?

Thanks.

[2020-07-12 02:36] o1298098 commented on #33
I am rewriting the TV Show playback function, the movie playback page will be completed after it.
This function is not yet complete, but will be based on this logic. When there is a manually added link, it will be played first. If there is no link, the playback link will be obtained through the API.

[2020-07-12 02:52] o1298098 commented on #34
@omeedterainsights , already set。
Firestore is great, but I use a free plan, it is easy to exceed the limit 😭

[2020-07-12 04:19] omeedterainsights commented on #34
Thanks and great job, best movie app I've seen!

[2020-07-12 04:19] #34 closed

[2020-07-12 07:05] henry-hz commented on #31
@o1298098  do you think I should use the same strategy to subscribe to a stream subscription like GraphQL subscriptions ? pls, see that it's possible with pure Dart or with a Flutter lib (examples)[https://github.com/dmh2000/Flutter-GraphqlX] . What strategy  you would use for graphql + fish ?  in fact, let me share an amazing framework for fast development with graphql: hasura.io

[2020-07-12 17:41] GITCOM-CMD commented on #33
Thanks! is it planned for this week's task :)?

[2020-07-13 01:34] o1298098 commented on #31
Yes, you should, GraphQL Engine is an amazing project. GraphQL is more flexible in obtaining data and is a good choice for mobile applications. I also plan to use GraphQL in new projects.
If you want to modify the data in Redux, you can only call Reducer, then the UI will be updated. but this state  type it Future, if I want to load more items in the listview , it is not convenient to use FutureBu

[2020-07-13 07:38] o1298098 commented on #33
It should be completed this week, and then plan to optimize the performance of the app

[2020-07-13 11:47] henry-hz commented on #31
@o1298098 great tip! thanks :)
In fact, in case I am asking too much here, let me know if you would have availability to create a profile in https://www.codementor.io , and we close an hourly consulting, so I can also feel free to ask specific questions about my project.

To update the language, I noticed that you started to write a ./lib/style/themestyle_widget.dart , but in fact, it's not connec

[2020-07-13 12:22] henry-hz commented on #31
Already solved, I was lacking the

[code]

In the router visitor to propagate the global state.... In fact, I think it's a glue, it should be an intrinsic part of the framework.....

[2020-07-13 13:04] o1298098 commented on #31
I have tried this before, but it didn't work as expected.

[2020-07-13 13:30] henry-hz commented on #31
Instead of 'Future<Widget> createApp() async {' in the app.dart file, try to create a Statefull Widget (it's also better for refreshing, as I wrote you before).

[code]

on the Global Store, first we update the Locale in the onLocaleChanged callback, and afterwards we send the cloned state with a new locale only to propagate.
[code]

Notice that in fact, the locale 'lives' in the i18n.dart file, b

[2020-07-13 14:01] o1298098 commented on #31
thanks @henry-hz, it work😄

[2020-07-13 14:07] GITCOM-CMD commented on #33
Cool, Thanks! :)

[2020-07-13 14:08] #33 closed

[2020-07-20 17:32] GITCOM-CMD opened #35 "Cast lists"
Hi how are you :)?
I guess we should also add functionality to add cast members ( actors etc ) in lists so a user can make their actors lists to track actors, similar as we did in movies and tv shows options "Add to List" function.
What do you think?

[2020-07-20 23:17] thawhakyi commented on #35
Nice Idea bro. This will make app more perfect.

On Tue, Jul 21, 2020, 12:03 AM GITCOM-CMD <notifications@github.com> wrote:

[2020-07-21 02:23] o1298098 commented on #35
Thanks @GITCOM-CMD, I will add this feature

[2020-07-21 21:13] GITCOM-CMD commented on #35
Sure(´◡`)

[2020-07-21 21:17] GITCOM-CMD commented on #35
Sure, waiting for this (•ˇ‿ˇ•)

[2020-07-21 21:18] GITCOM-CMD commented on #35
Sure @o1298098 , waiting for this (•ˇ‿ˇ•)

[2020-07-24 02:37] o1298098 commented on #31
@henry-hz,  I created a GraphQL Api for this project, and now I can get data by subscription. I plan to replace some widgets with StreamBuilder.
![Kapture 2020-07-24 at 10 36 58](https://user-images.githubusercontent.com/22358665/88356200-a5964300-cd99-11ea-97df-8e738fd8f799.gif)

[2020-07-26 10:52] henry-hz commented on #31
@o1298098 hey, that's good news, very powerful real-time, without touching the web-socket 101 upgrade... : )
I will see the code. What is the tool that you used above to send the graph queries ?

[2020-07-27 01:04] o1298098 commented on #31
@henry-hz, GraphQLPlayground

[2020-07-27 12:04] o1298098 commented on #31
![Kapture 2020-07-27 at 20 02 37](https://user-images.githubusercontent.com/22358665/88539640-36904700-d044-11ea-950c-40cf3520afaa.gif)
@henry-hz, It works perfectly😄

[2020-07-29 09:05] GITCOM-CMD commented on #35
Aww Thanks, Love you 🥇

[2020-07-29 09:06] #35 closed

[2020-08-01 09:52] o1298098 commented on #35
![Kapture 2020-08-01 at 17 49 47](https://user-images.githubusercontent.com/22358665/89099087-729a2200-d41f-11ea-906e-d4b4d4ced965.gif)
@GITCOM-CMD, finally completed, now the account page should be redesigned to place this function

[2020-08-01 14:15] GITCOM-CMD commented on #35
Wow @o1298098  Congratulations 🎉 This is awesome, but You're more awesome ❤, way to go @o1298098
yes of course now the account page should be redesigned Plz.

[2020-08-22 21:01] Sethsmagic opened #36 "Duplicate Movies found on Discover page after applying filter"
Scenario: After filtering based on "Adventure" and "Fantasy", I am seeing multiple duplicate movie titles, while browsing the discover page.

[2020-08-23 04:00] #36 closed, assigned to nobody

[2020-08-23 04:34] thefrancisugorji opened #37 "Admin Configuration"
Hello, just felt it would be better opening an issue here.

So on performing my own internal configurations, I came across this.

![Screenshot (74)_LI](https://user-images.githubusercontent.com/53998128/90970896-37f94600-e502-11ea-805c-795553a7e7ea.jpg)

All the requirements have been downloaded and installed. What am i doing wrong

[2020-08-25 09:58] thefrancisugorji commented on #37
Hello again, sorry for the lack of updates,

I have gone through all the configuration, currently my server is still a shared hosting account and my webhost said I must engage in a VPS before I can utilize react.js or node.js

[2020-09-02 18:29] logamass commented on #17
Hello Please Can You share Backend code this email logamass1995@gmail.com

[2020-09-05 06:41] o1298098 commented on #17
@logamass, I had sended to you

[2020-09-05 08:52] AhmadDarwich commented on #17
Hello, when trying to sign in with Google, I have the following error: Could you please share backend code: darw.ahmad@gmail.com
<img width="953" alt="Screenshot 2020-09-05 at 10 49 39" src="https://user-images.githubusercontent.com/25756246/92301683-e1f6ba80-ef65-11ea-8593-87f50ad8463c.png">

Thank you!

[2020-09-06 08:27] logamass commented on #17
I didn't receive mail

[2020-09-06 08:40] thefrancisugorji commented on #17
I will forward it to you.

I require assistance in setting it up.

Can I setup in ext.js as an alternative to node.js?

Can you help me with this?

On Sun, Sep 6, 2020, 9:28 AM logamass <notifications@github.com> wrote:

[2020-09-06 11:10] logamass commented on #17
Yes sure

[2020-09-06 11:18] thefrancisugorji commented on #17
Your email then

On Sun, Sep 6, 2020, 12:11 PM logamass <notifications@github.com> wrote:

[2020-09-06 18:31] logamass commented on #17
logamass1995@gmail.com

[2020-09-12 05:50] Tejaswgupta commented on #17
Hey can you send the backend code here too
guptatejasw2002@gmail.com

[2020-09-16 04:41] yichaosun opened #41 "can't run in master"
no parameter named label in BottomNavigationBarItem, where there is in code
error: The named parameter 'label' isn't defined. (undefined_named_parameter at [movie] lib/views/main_page/view.dart:51)

[2020-09-17 02:04] yichaosun commented on #41
Thank u !!! pull for latest in master, as least ,It's run correctly !

[2020-09-17 02:04] #41 closed

[2020-09-30 15:23] #9 closed

[2020-10-20 20:01] Techfazzy commented on #7
Hello Please I am new to flutter and I saw your movie app and i was greatly impressed. I was wondering if you had a youtube tutorial because i know many people will be happy to see that if not please I would like to ask for the admin panel on how i could add videos.

mail- techfazzy@gmail.com

[2020-10-24 00:57] BIGEAZY289 opened #42 "Can't watch anything"
How will I be able to watch movies in this app?

[2020-10-24 13:32] #42 closed

[2020-10-28 04:54] derakula commented on #17
Hello I'd love to learn the backend code
please email me: updera@gmail.com

[2020-11-15 03:04] BIGEAZY289 opened #43 "How to watch movies and tv shows"
Please can you help me I don't know how to watch movies and tv shows in the app they don't have links

[2020-11-15 13:40] o1298098 commented on #43
@BIGEAZY289, I did not add the streamlink of movies or tvshow, but by default it will get the playback address through moviessources api

[2020-11-16 23:19] #43 closed

[2020-11-23 07:05] MeTubeapp opened #44 "How to use this project please guide me."
Hey, our team have a lots of movies or webseries streamurls please guide me how to use inside your project. and i can contribute in your project for adding movie or webseries working stream link .. i have a 8000 audience network...

and i am appreciated your work....

contact details -- rajputj829@gmail.com

my name is Jatin Rajput...

[2020-11-29 22:44] jhanc97 opened #45 "Backend Code"
Won't share backend code?

[2020-12-01 13:42] o1298098 commented on #45
It may be later, it is still under development

[2020-12-01 13:43] o1298098 commented on #44
@MeTubeapp， I'll post the tutorial to your email later

[2020-12-01 16:06] jhanc97 commented on #45
@o1298098 Ok i understand

[2020-12-01 17:01] MeTubeapp commented on #44
thanks brother

[2020-12-17 16:56] musagul commented on #17
can you give me back end admin panel source code?

Email : musagulfb@gmail.com

[2020-12-20 21:12] MeTubeapp opened #46 "http error code 500"
when i favoruite a movie then it show Http status error [500].

[2020-12-21 04:03] o1298098 commented on #46
@MeTubeapp, already fixed

[2020-12-21 19:01] revine420 commented on #44
@o1298098 Can you send me the tutorial on how to use this project too? It Seems very promissing but need some help and a guide. My email is nadaworking@protonmail.com

[2020-12-25 20:51] luisfigueroa34 commented on #17
Hello Please Can You share Backend or add my account as Administrator:
Please I would really appreciate it

channelapplus@gmail.com

[2020-12-28 04:49] wangronghui01 opened #48 "大神为什么选择用fish-redux 进行状态管理而不是用google 推荐的provider?"
我是一名flutter 初学者，fish-redux 文档不够详细，使用起来很多疑惑。您的app 是我找到的flutter 案例中最为流畅。如果有机会希望您能出一系列视频教程。

[2020-12-29 06:29] #48 closed

[2020-12-29 06:31] o1298098 commented on #48
也没有什么特别的原因，刚做这个项目的时候fish redux刚刚开源，就试用一下

[2020-12-30 10:19] MeTubeapp commented on #46
CERTIFICATE_VERIFY_FAILED: certificate has expired...

[2020-12-30 15:06] o1298098 commented on #46
@MeTubeapp fixed

[2021-01-03 11:02] MeTubeapp commented on #46
Streamtape url resolver gives null from yesterday..

after debug i get this

DioError [DioErrorType.RESPONSE]: Http status error [404]

[2021-01-03 15:24] o1298098 commented on #46
@MeTubeapp, I updated the url resolver api, but I don’t have a test link, you can try it to see if it is fixed

[2021-01-03 15:58] MeTubeapp commented on #46
ok let me test

[2021-01-03 16:19] MeTubeapp commented on #46
i am getting null bro for streamtape

[2021-01-04 05:40] o1298098 commented on #46
@MeTubeapp, fixed
![image](https://user-images.githubusercontent.com/22358665/103504397-42edbb00-4e92-11eb-95c8-ea74970329cf.png)

[2021-03-03 05:43] evilrat opened #49 "Please share backend code"
Please share backend code...as it is....we need it....it will also help you to do bug fixed and feature implementation

[2021-03-09 11:44] hongfeiyang opened #50 "Cannot compile with Flutter 2.0"
dart_chromecast is not compatible and there seems to be no other solution

[2021-03-09 11:50] hongfeiyang commented on #50
Also `resizeToAvoidBottomPadding` of the `Scaffold` widget is gone, need to use `resizeToAvoidBottomInset` instead I think

[2021-03-09 13:35] o1298098 commented on #50
The dart_chromecast plugin can only be used under dart sdk 2.12.0 due to the dart_internal package. Now can only wait or remove it

![image](https://user-images.githubusercontent.com/22358665/110478053-dce61400-811e-11eb-9ec6-a685c98aa4b4.png)

[2021-03-17 02:39] hungrybearpls commented on #50
Is there any solution for this yet?

[2021-03-17 02:41] hongfeiyang commented on #50
I commented out all the problematic part of the code base, there are a lot of them...

[2021-03-17 07:19] o1298098 commented on #50
Not all packages are updated to support null safety, and there are many compatibility issues. The easiest way is remove the dart_chromecast plugin

[2021-03-28 01:14] arghyac35 commented on #49
Yes, please share it, I need it too. @o1298098

[2021-06-04 12:22] glorymaster opened #51 "Streaming"
is this supposed to stream any movies?

[2021-06-05 01:19] o1298098 commented on #51
No, the app gets the playback address from moviessources by default, not all movies have a playback address

[2021-06-05 10:49] glorymaster commented on #51
I really like the UI of the app, is there any version that can play any movies or series, is there any premium app released?

[2021-06-07 11:28] henry-hz opened #52 "State Framework similar to Fish"
Dear @o1298098 ,
I would like to ask you about fish-redux. I feel that their maintenance is very slow, and almost no feedback about the null safety issues posted there.
- do you think that fish-redux is being abandoned ?
- what do you think about an idea: to use https://pub.dev/packages/event_bus and manage the state in the same way fish redux is managing, keeping the state, effect, action pattern

[2021-06-19 11:06] o1298098 commented on #52
In the past six months, fish-redux has not supported null safety, and it has not been updated for a long time. I think fish-redux should be abandoned.

I prefer to use Mobx combined Provider for state management.

[2021-08-02 16:58] henry-hz commented on #52
@o1298098  I am adapting this approach: https://medium.com/flutter-community/flutter-state-management-for-minimalists-4c71a2f2f0c1 to be used in an almost identical approach used by fish, but.... without any framework, super clean, O(1) performance, only using plain dart. This is my first scratch: https://github.com/insurdao/flutter-boilerplate  [still changing to use immutable state]

For the act

[2021-08-06 01:06] iblvck commented on #37
@thefrancisugorji

Pls share the admin backend code as am abit good with react maybe i could be of help here
email : bxdman69@gmail.com

@o1298098
Nice job **Boss**.....This is a very good project
you really aiding my learning curves
I noticed this talkings about external stream links which i have no idea off
could you pls share me to the admin table...

email : bxdman69@gmail.com

really needing

[2021-08-07 05:20] iblvck opened #53 "Video or text Tutorial for learners ("
is there any youtube video or text tutorial for this great app ?

i m new to flutter and im learning a lot with some of your code snippets but a tutorial either video or text will really really do alot of help here man

email: bxdman69@gmail.com

[2021-08-21 22:27] pebasonhub commented on #53
pls help with the video tutorial as well or a link... am getting payment error and am new to flutter...

iyarnuoluwa@gmail.com

[2021-08-24 11:57] iblvck opened #54 "Pls adim provide the backendcode with tutorials for learners.......or sale upload on codecrayon envanto"
.....this project is for school......**Let us learn from your great work sir** ☹☹☹pls

[2021-08-28 02:50] o1298098 commented on #54
The api is based on .Net Core, and the back-end just implements simple management. You can leave your Email address and I will send it to you later.

[2021-08-28 08:43] SairoDestroyer commented on #54
hi, could you leave me admin please?

my email: sairo.carvajal@gmail.com

very good project

[2021-09-01 07:00] SairoDestroyer opened #55 "How can I enter the web admin?"
I would like to try the web admin

[2021-09-02 00:56] o1298098 commented on #55
First, you need to register on the app, and then I set your account as an administrator, after all you can login the admin panel

[2021-09-13 09:35] SairoDestroyer commented on #55
I wanted to enter the backend, since I wanted to learn how the api that it has implemented work

[2021-09-19 00:10] iblvck commented on #55
Ohh Thanks sir

useful350@gmail.com@gmail.com

really glad you finally responded🙂

[2021-09-19 00:11] iblvck commented on #54
Ohh Thanks sir

useful350@gmail.com

really glad you finally responded🙂

[2022-01-21 16:31] 8lvck opened #56 "Update, bugs and sponsor"
Hey brother,
What a project youve got 👏
Still wondering why this beauty has less stars ?

Well, everybody has less time nowadays so ill just pack all questions and texts in one line

Ive been following the project for a couple of months now since release....read all comits, readme and postings and i wish i could tag them all in this thread

Everything looks great, beautifully crafted and engaging.